
<!-- section10 cookies start -->

<section class="section-10-cookies-main">
    <div class="container section-10-cookies-body d-flex justify-content-between position-relative align-items-cente">
        <div class="section-10-cookies-title">This website uses cookies. <a href="https://webizsol.com/websites/cookie-policy.php">More info.</a> </div>
        <div class="section-10-cookies-btn"><a href="#">Visit</a></div>
    </div>
</section>

<!-- section10 cookies end -->

<script src="/static/js/script.js"></script>
</body>
</html>